body{
    background-color: black;
    width: auto;
    height: 100vh;
}

.Login-body{
    background-color: transparent;
    border: 2px solid red;
    font-size: 2rem;
    display: flexbox;
    margin: 40vh;

}

.Login-title{
    color:white;
}

button a{
    cursor: pointer;
    color: inherit;
}

button{
    box-shadow: none;
    border-radius: 50px;
    color: black;
    background-color: antiquewhite;
}